.wrapper{
  font-family: Roboto, sans-serif;
}

.left{
  float:left;
}

.right{
  float:right;
}

.clearfix{
    clear:both;
}

.container{
  width:80%;
  /* width: 1000px; */
  margin:0 auto;
}
/* -------------- Start : Header ------------- */
header{
  background: #253081;
  color: white;
  padding: 15px 0;
}

.heading h1{
  font-size: 1.4em;
}

.heading h3{
  padding-top: 4px;
  font-size: .9em;
}
/* -------------- End : Header ------------- */

/* ---------------- Start : Cover page and Sign in form ----------------  */
.img_signin{
  margin: 30px auto;
}

/* ------------- cover page styling ---------------- */
.cover_page{
  width: 70%;
}

.cover_page img{
  width: 100%;
}

/* --------------- Sign in form styling -------------- */
.sign_in{
  background: #ecdfec;
  padding: 35px 20px;
  width: 25%;
}

.sign_in .details{
  font-size: 0.9em;
  margin-bottom: 15px;
  font-weight: 500;
}

.sign_in h1{
  font-size: 1.6em;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type=text], input[type=password] {
 width: 100%;
 padding: 12px 20px;
 margin: 7px 0;
 border:none;
 box-sizing: border-box;
}

input[type=submit]{
  background-color: #c61aff;
  color: white;
  padding: 12px 20px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

input[type=submit] + p{
font-size: .8em;
}

input[type=submit] + p a{
text-decoration: none;
color: black;
}
/* ---------------- End : Cover page and Sign in form ----------------  */


/* ---------------- Start : Description div block ----------------  */

.description{
  background: #c61aff;
  color:#fff;
  /* padding: 30px; */
}

.description .title{
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: 800px;
  padding: 20px;
  letter-spacing: 2px;
}

.photo{
    width:25%;
    padding:30px 30px 40px 40px;
}
.photo img{
  width: 100%;
  height: auto;
}

.content{
    width:64%;
    text-align: justify;
    padding:30px 40px 40px 0;
    line-height: 1.2;
    color: #ccc;
}
/* ---------------- End : Description div block ----------------  */

/* ---------------- Start : Footer ----------------------- */
.row{
  margin: 30px auto;
}
.column{
  width: 20%;
  margin-right:80px;
}
.column:nth-child(4){
  width: 15%;
  margin-right: 0;
}

.column h2{
  color: #c61aff;
  font-weight: 600;
  margin-bottom: 20px;
}

.column p{
  font-weight: 300;
  line-height: 1.5;
}
/* ---------------- End : Footer ----------------------- */
