.wrapper{
  font-family: Roboto;
  font-weight: bold;
}

/* ------------------------- Heading ---------------------------- */
.heading{
  font-size: 1.7em;
  padding: 15px;
}

/* ---------------------- Styling of navigation bar ------------------- */
.navigation {
  list-style-type: none;
  overflow: hidden;
  background-color: #42d4f5;
}

.nav_items {
  float: left;
}

.nav_items .nav_links {
  display: block;
  color:black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav_items .nav_links:hover {
  background-color: #8dd1e0;
}

/* --------------------- Image gallery styling ------------------- */
.container{
  display:table;
  padding: 10px;
}
.row{
  display: table-row;
}
.column{
  display:table-cell;
  width: 25%;
  padding: 10px;
}
.column img{
  height: 200px;
  width: 100%;
}
