.wrapper{
  font-family: Arial, sans-serif;
}

/* ------------------ Styling the header -------------- */
header h1{
  background-color: #bf3232;
  font-size: 3em;
  color: white;
  padding: 15px;
  margin-bottom: 30px;
}

/* ------------------ Styling the div blocks ------------------ */
.container h1{
  font-size: 2.4em;
  font-weight: bold;
  margin-left: 40px;
}

.box_wrapper{
  background: #c0e0f0;
  margin: 40px;
  padding: 10px 40px;
}

.box_item{
  width:150px;
  height:150px;
  margin: 15px;
}

/* ------------------ Styling using display property ------------------ */
.property_display{
  background: #3c3cc9;
  display: inline-block;
}

/* ------------------ Styling using float property ------------------ */
.property_float{
  background:#bd5bcf;
  float: left;
}

.clear-fix{
  clear: both;
}
