body{
  background: #2A2B30;
}
.wrapper{
  font-family: Roboto;
}
.container{
  width: 85%;
  margin: 0 auto;
}
.left{
  float:left;
}
.right{
  float: right;
}
.clear-fix{
  clear: both;
}

/* ------------ Start : Header ------------- */
header{
  margin: 40px auto;
}
.logo{
  width: 50%;
  height:auto;
}

.profile{
  height: 50px;
  width: 50px;
  background-color: rgb(243, 242, 243);
  border-radius: 50%;
  position:relative;
}
.profile .profile_text {
  visibility: hidden;
  width: 200px;
  top: 53px;
  right: 5px;
  padding:10px;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.profile:hover{
    cursor:pointer;
}

.profile:hover .profile_text {
  visibility: visible;
}

.profile_text li{
  font-weight: 500;
  padding: 10px;
}
/* ------------ End : Header ------------- */

/* ------------ Start : Section ------------- */
.product_item{
  width: 23%;
  margin-bottom: 40px;
  margin-right: 25px;
}

.product_item:nth-child(4n){
  margin-right: 0;
}

.product{
  padding:20px 0;
  background: rgb(36,37,42);
  position: relative;
}

.fa-star-o{
  position: absolute;
  color: #88B180;
  right:15px;
}

.product_img{
  width:60%;
  margin:40px auto;
}
.product_img img{
  width: 100%;
  height: 200px;
}

.product_size{
  width:30px;
  height:30px;
  position: absolute;
  background: #88B180;
  border-radius: 50%;
  right: 15px;
  padding: 5px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
}


.product_name{
  font-size: 1.2em;
  color: #f1f1f1;
  padding:7px 7px 7px 0;
}

.product_price{
  color: gray;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.add_to_cart{
  border: 1px solid gray;
  padding: 7px 12px;
  color: gray;
  background: #2A2B30;
  margin-bottom: 30px;
}

.add_to_cart:hover{
  cursor: pointer;
  background: #88B181;
  color: black;
}
/* ------------ End : Section ------------- */

/* ------------ Start : Footer ------------- */
footer{
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background: black;
}
footer a{
    padding:20px;
    font-size:18px;
    font-weight: 500;
    color: #f1f1f1;
    background: black;
    text-decoration: none;
}
footer a:hover{
  background: #f1f1f1;
  color:black;
}
/* ------------ End : Footer ------------- */
