/* heading */
.heading{
  text-align: center;
}

.title{
  background: #007399;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  padding: 20px;
}

/* div blocks styling */
.container{
  margin: 30px auto;
  width: 90%;
  font-family: Roboto, sans-serif;
}

.content{
  text-align: justify;
  line-height: 1.2;
  padding: 12px;
}

.left{
  float: left;
  border: 1px solid #007399;
  margin-bottom: 10px;
  width: 60%;
}

.right{
  float: right;
  border: 1px solid #007399;
  margin-bottom: 10px;
  width: 38.5%;
}
