.wrapper{
  font-family: Arial, sans-serif;
  margin: 40px;
}

/* -----------------------Start : paragraph tag in header ----------------- */
header p{
  font-size: 1.5em;
  padding-bottom: 20px;
}
/* -----------------------End : paragraph tag in header ----------------- */

/* -----------------------Start : heading tag in header ----------------- */
header h1{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 30px;
}
/* -----------------------End : heading tag in header------------------- */

/* ----------------------- Start : signup form styling ---------------------- */
.form_fields{
  padding-bottom: 20px;
}

/* -------------------- input tag styling ------------------------ */
.form_input{
  box-sizing: border-box;
  margin-top: 4px;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  color: #ccc;
}

/* -------------------- button tag styling ---------------------*/
.submit {
  background-color:#ebbd1a;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
/* ----------------------- End : signup form styling ---------------------- */
