body{
  background: url("https://ak.picdn.net/shutterstock/videos/6807415/thumb/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ball{
  background: #101010;
  height: 600px;
  width: 600px;
  position: absolute;
  top:0px;
  left:100px;
  /* border-radius: 50%; */
  animation-name: phases;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  @keyframes phases {
  0%{
    transform: translateX(50px);
  }
  20%{
    height: 500px;
    width: 500px;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }
  40%{
    height: 400px;
    width: 400px;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }
  60%{
    height: 300px;
    width: 300px;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }
  75%{
    height: 200px;
    width: 200px;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }
  95%{
    height: 100px;
    width: 100px;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }

   100%{
    transform: translateX(700px);
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
