/* Title section */
#title{
  background: #5B3256;
  color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px;
}

/* Image section */
#photo{
  background-image: url("https://www.greenandvibrant.com/sites/default/files/inline-images/types-of-coconuts/King-Coconut.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: 500px;
}

/* Image gallery section */
#gallery{
  margin:30px auto 30px;
  font-family: Roboto, sans-serif;
  width:90%;
}

 .pic{
  width:31.1%;
  height : auto;
  display: inline-block;
  margin:10px 10px 20px;
  vertical-align: top;
}

.im{
  height: 200px;
  margin-bottom: 10px;
  width:100%;
}

.desc{
  font-size: 1.2em;
  margin-bottom: 10px;
}

.place{
  font-weight: bold;
  margin-bottom: 15px;
}

.contents{
  margin-bottom: 15px;
}

.button{
  background-color: #5B3256;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

/* Content Section */
#content{
  font-family: Roboto, sans-serif;
  width:80%;
  margin:50px auto 30px;
}

#content h1{
  color: #5B3256;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

#content p{
  color: #A9A9A9;
  text-align: justify;
  line-height: 1.6;
}


/* Copyright Section */
#copyright {
  background: #5B3256;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 15px 40px;
}

#copyright h1{
  font-weight: bold;
}
