* {
  box-sizing: border-box;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearFix {
  clear: both;
}

/* ---------------------- Start : Header ----------------- */
header {
  background: #9f1110;
  color: white;
}

.headerContainer {
  width: 95%;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  padding: 27px 0;
  letter-spacing: 1.5px;
}

.view {
  padding: 20px 0;
  width: 30%;
  text-align: right;
}

.view label {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.dropdown {
  padding: 10px 12px;
  width: 50%;
  font-size: 14px;
  border: none;
  appearance: none;
  background: url("https://cdn1.iconfinder.com/data/icons/outline-17/16/caret-down-512.png") 94% / 8% no-repeat #eee;
  cursor: pointer;
}

/* ---------------------- End : Header ----------------- */
/* ---------------------- Start : Section ----------------- */
.notesWrapper {
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.notesWrapper .noteItem {
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}

.addNoteWrapper {
  border: 1px dashed #da9393;
}

.addNotesIcon {
  position: absolute;
  color: #9f1110;
  font-size: 80px;
}

#addNotesIcon {
  cursor: pointer;
}

.notesWrapper .noteWrapper {
  background: #b8e986;
}

.noteHeader {
  position: relative;
  width: 100%;
  height: 45px;
  background: #a5d178;
  font-weight: 500;
  font-size: 18px;
}

.noteHeader div {
  position: absolute;
  top: 12px;
  left: 15px;
  height: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notesContent {
  font-size: 12px;
  padding: 15px;
  text-align: justify;
  word-wrap: break-word;
  overflow: auto;
  line-height: 1.4;
}

.noteFooter {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.noteFooter span {
  margin-left: 15px;
  font-size: 10px;
  text-transform: uppercase;
  color: #89919c;
  font-weight: bold;
}

.noteFooter .deleteIcon {
  position: absolute;
  cursor: pointer;
  right: 15px;
}

/* ---------------------- End : Section ----------------- */
/* ----------------- Start : Add Note Modal, Delete Note Modal ------------- */
.addNoteModal, .deleteNoteModal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 1, 0.3);
}
.error {
  color: red;
  /* margin-left: 5px; */
}

.noteModal {
  position: fixed;
  top: 25%;
  left: 33%;
  width: 37%;
  font-family: 'Open Sans', sans-serif;
  padding: 25px;
  background: #fff;
  color: black;
}

.noteModalTitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px ;
}

.noteTitle {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px ;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
}

.noteTitle::placeholder, .noteContent::placeholder {
  color: #D3D3D3;
}

.noteContent {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 15px;
  resize: none;
  font-size: 14px;
}

.modalBtns {
  text-align: center;
}

.noteModalBtn {
  width: 80px;
  padding: 7px 10px;
  background: rgb(238, 238, 238);
  font-weight: 700;
  font-size: 13px;
  border: 0px;
  text-transform: uppercase;
  cursor: pointer;
}

.cancelBtn, .noBtn {
  margin-right: 7px;
}

.addBtn, .yesBtn {
  color: white;
  background: rgb(168, 0, 0);
}

.noteBgColor {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 500;
}

.colors {
  display: inline-block;
  position: absolute;
  left: 150px;
}

.colors i {
  position: relative;
  top: 1px;
  left: 2px;
}

.green, .blue, .grey, .pink {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}

.green {
  background: #b8e986;
}

.blue {
  background: #d2e3f8;
}

.grey {
  background: #dededf;
}

.pink {
  background: #dccdcf;
}

.deleteNote {
  position: fixed;
  top: 38%;
  left: 35%;
  width: 34%;
  font-family: 'Open Sans', sans-serif;
  padding: 25px;
  background: #fff;
  color: black;
  text-align: center;
}

.deleteNote p {
  text-align: justify;
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.5;
}

/* ----------------- End : Add Note Modal, Delete Note Modal ------------- */
